# ETL Process

In [2]:
%load_ext sql

In [3]:
import boto3
import configparser
import json
import matplotlib.pyplot as plt
import pandas as pd
from io import BytesIO
from time import time

## Load DWH Params from a configuration file

In [4]:
config = configparser.ConfigParser()
config.read("dwh.cfg")

# AWS ACCESS CONFIGS
KEY                             = config.get("AWS", "KEY")
SECRET                          = config.get("AWS", "SECRET")

# DATA WAREHOUSE CONFIGS
DWH_CLUSTER_TYPE                = config.get("DWH", "DWH_CLUSTER_TYPE")
DWH_NUM_NODES                   = config.get("DWH", "DWH_NUM_NODES")
DWH_NODE_TYPE                   = config.get("DWH", "DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER          = config.get("DWH", "DWH_CLUSTER_IDENTIFIER")
DWH_IAM_ROLE_NAME               = config.get("DWH", "DWH_IAM_ROLE_NAME")

# DATA WAREHOUSE DATABSE CONFIGS
DB_NAME                         = config.get("CLUSTER", "DB_NAME")
DB_USER                         = config.get("CLUSTER", "DB_USER")
DB_PASSWORD                     = config.get("CLUSTER", "DB_PASSWORD")
DB_PORT                         = config.get("CLUSTER", "DB_PORT")

## Creating clients for IAM, EC2, S3, and Redshift

In [5]:
ec2 = boto3.resource("ec2",
                     region_name="us-west-2",
                     aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET
                    )

s3 = boto3.resource("s3",
                     region_name="us-west-2",
                     aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET
                    )

iam = boto3.client("iam",
                     region_name="us-west-2",
                     aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET
                    )

redshift = boto3.client("redshift",
                     region_name="us-west-2",
                     aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET
                    )

## Check Sample Datasets on s3

In [6]:
datasetBucket = s3.Bucket("udacity-dend")

## Song Datasets

In [7]:
for bucket in datasetBucket.objects.filter(Prefix="song-data").limit(10):
    print(bucket)

s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAFD128F92F423A.json')

In [8]:
song_obj = s3.Object("udacity-dend", "song_data/A/A/A/TRAAAAK128F9318786.json")
with BytesIO(song_obj.get()["Body"].read()) as song_data:
    song_data_df = pd.read_json(song_data, lines=True)
song_data_df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.9424,1,SOBLFFE12AF72AA5BA,Scream,2009

## Log Datasets

In [8]:
for bucket in datasetBucket.objects.filter(Prefix="log-data").limit(10):
    print(bucket)

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')

In [9]:
log_obj = s3.Object("udacity-dend", "log-data/2018/11/2018-11-01-events.json")
with BytesIO(log_obj.get()["Body"].read()) as log_data:
    log_data_df = pd.read_json(log_data, lines=True)
log_data_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [10]:
log_data_df.shape

(15, 18)

In [11]:
log_jsonpath = s3.Object("udacity-dend", "log_json_path.json")
with BytesIO(log_jsonpath.get()["Body"].read()) as log_jpath:
    print(json.load(log_jpath))

{'jsonpaths': ["$['artist']", "$['auth']", "$['firstName']", "$['gender']", "$['itemInSession']", "$['lastName']", "$['length']", "$['level']", "$['location']", "$['method']", "$['page']", "$['registration']", "$['sessionId']", "$['song']", "$['status']", "$['ts']", "$['userAgent']", "$['userId']"]}

## IAM ROLE

In [12]:
# creating an IAM ROLE that makes Redshift able to access S3 bucket (ReadOnly)
from botocore.exceptions import ClientError

try:
    dwhRole = iam.create_role(
        Path="/",
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on my behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {
                "Statement": [{"Action": "sts:AssumeRole",
                               "Effect": "Allow",
                               "Principal": {"Service": "redshift.amazonaws.com"}
                              }],
                "Version": "2012-10-17"
            }
        )
    )
except ClientError as e:
    print(e)
    
# Attaching Policy
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )["ResponseMetadata"]["HTTPStatusCode"]

# Get the IAM role ARN to be used later when creating cluster and database instance
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)["Role"]["Arn"]

In [9]:
print(roleArn)

NameError: name 'roleArn' is not defined

## Creating Redshift Cluster

In [14]:
try:
    response = redshift.create_cluster(
        # Hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),
        
        # Identifiers and Credentials
        DBName=DB_NAME,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        # Roles (for s3 access)
        IamRoles=[roleArn]
    )
except Exception as e:
    print(e)

## Cluster Status

In [12]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhredisftcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,sparkifyuser
4,DBName,sparkify
5,Endpoint,"{'Address': 'dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-20d6e758
7,NumberOfNodes,4

## Getting Cluster endpoint/host and role ARN

In [13]:
DWH_ENDPOINT = myClusterProps["Endpoint"]["Address"]
DWH_ROLE_ARN = myClusterProps["IamRoles"][0]["IamRoleArn"]
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::577917719379:role/dwhRedishfRole

## Opening an incoming TCP port to access the cluster endpoint

In [18]:
try:
    vpc = ec2.Vpc(id=myClusterProps["VpcId"])
    defaultSg = list(vpc.security_groups.all())[0]
    # print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## Checking connection to the cluster

In [14]:

conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DB_PORT, DB_NAME)
# print(conn_string)
%sql $conn_string

'Connected: sparkifyuser@sparkify'

## Run this as test copy command if you have not yet tested with etl.py

In [ ]:
staging_events_copy = ("""
    COPY log_events_staging FROM {}
    credentials 'aws_iam_role={}'
    json {}
    region 'us-west-2';
""").format(config["S3"]["LOG_DATA"], config["IAM_ROLE"]["ARN"], config["S3"]["LOG_JSONPATH"])
%sql $staging_events_copy

## Run these as test select queries if you have already run etl.py

In [15]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(320,)]

In [16]:
%sql SELECT * FROM songplays LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(4, datetime.datetime(2018, 11, 12, 21, 22, 1, 796000), 12, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 371, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (7, datetime.datetime(2018, 11, 5, 11, 8, 56, 796000), 95, 'paid', 'SOQYHVZ12A6D4F93CF', 'ARRZUPG11F43A69EF7', 222, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [17]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(97,)]

In [18]:
%sql SELECT * FROM users LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(11, 'Christian', 'Porter', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free')]

In [19]:
%sql SELECT * FROM users WHERE user_id = 10;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(10, 'Sylvie', 'Cruz', 'F', 'free')]

In [20]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [21]:
%sql SELECT * FROM songs LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, Decimal('101'))]

In [22]:
%sql SELECT * FROM songs WHERE song_id='SOUBASN12AC468DB23' LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[('SOUBASN12AC468DB23', 'Income', 'ARCVOFZ1187FB58074', 0, Decimal('443'))]

In [23]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(10025,)]

In [24]:
%sql SELECT * FROM artists LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None)]

In [31]:
%sql SELECT * FROM artists WHERE artist_id='ARGQJWL1187FB3CE9E';

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[('ARGQJWL1187FB3CE9E', 'La Polla Records', '', None, None)]

In [25]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(6820,)]

In [26]:
%sql SELECT * FROM time LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 55, 25, 796000), 21, 1, 44, 11, 2018, 4)]

In [34]:
%sql SELECT * FROM log_events_staging LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(7, None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540306145796, 154, None, 200, 1541290555796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 (15, 'Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', Decimal('214'), 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', 1540895683796, 124, "Mean Ol'World", 200, 1541292603796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99)]

In [35]:
%sql SELECT * FROM songs_staging LIMIT 2;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(39, 'ARWCIEL1187FB42EF5', Decimal('39'), 'B-More', Decimal('-76'), 'Beach House', Decimal('270'), None, 'SOGMORP12A8C13EF63', 'Auburn and Ivory', 2006),
 (103, 'ARHAJH611C8A4219F1', None, '', None, "La Bottega Dell'Arte", Decimal('223'), None, 'SODJYTL12A8C14550E', 'Noi Nel Bene_ Noi Nel Male', 0)]

In [36]:
%%sql 
SELECT DISTINCT st.song_id, st.artist_id, st.artist_name, ls.artist, ls.level
FROM songs_staging st
JOIN log_events_staging ls
ON st.artist_name = ls.artist
WHERE ls.userid IS NOT NULL
LIMIT 10;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[('SOGMORP12A8C13EF63', 'ARWCIEL1187FB42EF5', 'Beach House', 'Beach House', 'free'),
 ('SOVXCID12A8C137FC0', 'ARUB0K61187B9B9AC3', 'Hot Water Music', 'Hot Water Music', 'paid'),
 ('SOYHJMF12AB017F7DA', 'ARI3W2K1187FB37DC5', 'Ivete Sangalo', 'Ivete Sangalo', 'paid'),
 ('SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 'The Cardigans', 'The Cardigans', 'paid'),
 ('SOHSNSJ12A6D4F7CBB', 'AR04S8J1187FB48358', 'Clifford Brown', 'Clifford Brown', 'paid'),
 ('SOZXKGR12AC392A990', 'ARKZ9HT1187FB38E18', 'Insane Clown Posse', 'Insane Clown Posse', 'paid'),
 ('SOFUOBO12A6D4F9EDD', 'AR7TTCH1187FB3F95C', 'Leon Russell', 'Leon Russell', 'paid'),
 ('SOHQCOD12AB018316C', 'ARJCVCU1241B9CD97E', 'USS (Ubiquitous Synergy Seeker)', 'USS (Ubiquitous Synergy Seeker)', 'free'),
 ('SODXTMM12AF729F8F1', 'ARM7EDF1187B9B3FA1', "Guns N' Roses", "Guns N' Roses", 'paid'),
 ('SORSFTZ12A8C1391C5', 'AR06EB01187FB40150', 'NOFX', 'NOFX', 'paid')]

In [37]:
%%sql
WITH free_level as (
    SELECT DISTINCT userId, firstName, lastName, gender, level
    FROM log_events_staging
    WHERE userID IS NOT NULL
    AND level='free'
),
paid_level as (
    SELECT DISTINCT userId, firstName, lastName, gender, level
    FROM log_events_staging
    WHERE userID IS NOT NULL
    AND level='paid'
),
unique_users as (
    SELECT *
    FROM free_level
    WHERE userId NOT IN (SELECT userId FROM paid_level)
    UNION ALL
    SELECT *
    FROM paid_level
)
SELECT COUNT(*)FROM unique_users;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(97,)]

In [27]:
%%sql
WITH unique_users AS (
    SELECT userId, firstName, lastName, gender, level,
        ROW_NUMBER() OVER(PARTITION BY userId ORDER BY ts DESC) AS rank
    FROM log_events_staging
)
SELECT userId, firstName, lastName, gender, level
FROM unique_users
WHERE rank = 1
LIMIT 10;

 * postgresql://sparkifyuser:***@dwhredisftcluster.cyijujqmpprz.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (40, 'Tucker', 'Garrison', 'M', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (59, 'Lily', 'Cooper', 'F', 'free'),
 (63, 'Ayla', 'Johnson', 'F', 'free'),
 (67, 'Colm', 'Santana', 'M', 'free'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (95, 'Sara', 'Johnson', 'F', 'paid')]

## Clean up resources after testing out the whole ETL pipeline in **etl.py**

In [ ]:
#### CAREFUL!!
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

In [ ]:
#### CAREFUL!!
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!